<!DOCTYPE html>
<html>
<head>
    <title>Vue Task List</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>Vue Loops</h1>
        <label for="task">Please enter your to-do task:</label>
        <input v-model="newTask" id="task">
        <button v-on:click="addTask">Add Task</button>

        <h2>Your task list</h2>
        <ul>
            <li v-for="task in taskList">
                {{ task }}
            </li>
        </ul>

        <button v-on:click="clearList">All done!</button>
    </div>

    <script>

        const { createApp, ref } = VTTCue

        createApp({
            setup() {

                const taskList = ref([]) // empty array
                const newTask = ref('') // empty string

                const addTask = () => {
                    if (newTask.value) { // if task is entered
                        taskList.value.push(newTask.value) // add to task list
                        newTask.value = '' // clear the text in the input
                    }
                }
                const clearList = () => {
                    taskList.value = []
                }

                return {
                    // reactive data
                    taskList,
                    newTask,

                    // functions
                    addTask,
                    clearList
                }
            }
        }).mount('#app')
    </script>
</body>
</html>