<!DOCTYPE html>
<html>

<head>
    <title>Cart</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        td, th {
            width: 25%;
            text-align:center;
        }

        .error-message {
            color: red;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>Example Shopping Cart</h1>

        <table>

            <tr>
                <th>Item</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
                <td>{{ name }}</td>
                <td>{{ unitPrice }}</td>
                <td>
                    <!--number modifier will convert the text entered to a number if conversion possible-->
                <input type="number" id="quantity" v-model.number="quantity">
                <div class="error-message" v-if="quantityError">{{ quantityError }}</div>
                </td>
                <td>
                    <div v-if="quantityError">
                        Invalid quantity
                    </div>
                    <div v-else>
                        ${{ total }}
                    </div>
                </td>
            </tr>
        </table>
    
    </div>

    <script>

        const { createApp, ref, computed } = Vue

        createApp({
            setup() {

                const name = ref('Hat')
                const quantity = ref(1)
                const unitPrice = ref(4.99)

                const maxQuantity = 10

                const quantityError = computed( () => {

                    if (!Number.isInteger(quantity.value)) {
                        return 'Quantity must be a number'
                    }

                    else if (quantity.value < 0 || quantity.value > maxQuantity) {
                        return `Quantity must be between 0 and ${maxQuantity}`
                    }
                    // clear error if quantity is valid
                    else {
                        return '' // could also return undefined or null
                    }
                })

                const total = computed ( () => {
                    const totalPrice = quantity.value * unitPrice.value
                    const formattedPrice = totalPrice.toFixed(2)
                    return formattedPrice
                })

                return {
                    // reactive properties
                    name, 
                    quantity,
                    unitPrice,
                    // computed properties
                    total,
                    quantityError
                }
            }
        }).mount('#app')
    </script>
</body>
</html>